@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-purple: #5e239d;
  --color-blue: #007b89;
  --color-pink: #ec048c;
  --color-highlight: hsl(186, 50%, 80%);
  --color-alternate-background: hsl(325, 5%, 95%);
}

* {
  box-sizing: border-box;
}

section:nth-child(odd):not(:last-of-type) {
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}
